<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="http://13.124.230.32/script/javascript/c1highstock.js"></script>
<script src="https://code.highcharts.com/stock/highcharts-more.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="http://13.124.230.32/script/charts/highlowstock.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="btn-group" role="group" style="width:100%; margin: 0;">
      <div class="btn-group btn-group-toggle" data-toggle="radio" style="width:100%;">
        <label class="btn btn-secondary" style="width:100%;" onclick="window.location='/home/gold_daycharts?name=<%=@urlparam%>';">
          <input type="radio" name="buttons" style="pointer-events:none"/> 일
        </label>
        <label class="btn btn-secondary" style="width:100%;" onclick="window.location='/home/gold_weekcharts?name=<%=@urlparam%>';">
          <input type="radio" name="buttons" style="pointer-events:none"/> 주
        </label>
        <label class="btn btn-secondary" style="width:100%;" onclick="window.location='/home/gold_monthcharts?name=<%=@urlparam%>';">
          <input type="radio" name="buttons" style="pointer-events:none"/> 월
        </label>
        <label class="btn btn-secondary" style="width:100%;" onclick="window.location='/home/c1charts?name=<%=@urlparam%>';">
          <input type="radio" name="buttons" style="pointer-events:none"/> C1고저차트
        </label>
        <label class="btn btn-secondary" style="width:100%;" onclick="window.location='/home/giftcharts?name=<%=@urlparam%>';">
          <input type="radio" name="buttons" style="pointer-events:none"/> 선물차트
        </label>
      </div>
    </div>
    
    <!-- Area Chart Example-->
    <div class="card mb-10">
      <div class="card-header">
        <label>C1차트</label>
      </div>
      <div class="card-body">
        <div class="table" id="chart">
          <div class="d-inline-block btn btn-danger" style="width:23%; font-size:15px; background-color:#e32837">고</br>&nbsp</div>
          <div class="d-inline-block btn btn-warning" style="width:23%; font-size:15px; background-color:#ffcb1a">C1</br>&nbsp</div>
          <div class="d-inline-block btn btn-primary" style="width:23%; font-size:15px; background-color:#1a78ff">저</br>&nbsp</div>
          <div class="d-inline-block btn btn-dark" style="width:23%; font-size:15px; background-color:#282d31">세력지수</br>&nbsp</div>
        </div>
      </div>
    </div>
  </div>
  <div id="container" style="width:100%; height: 85%; min-width: 100%; margin:0;"/>
</div>
<script>
  var height = $(window).height()*0.888;
  var ctest;

  $(document).ready(function() {
  ctest = setInterval(ajaxtable, 5000);
  });
  function ajaxtable(){
    $.ajax({
      url: "http://13.124.230.32/phps/c1c2",
      type: "GET",
      dataType: "json",
      async: false,
      success: function(data) {
        var json_data = '';
        $.each(data, function(key, value){
          json_data += '<div class="d-inline-block btn btn-danger" style="width:23%; font-size:15px; background-color:#e32837">'+'고'+'</br>'+value.dayc1high+'</div>';
          json_data += '<div class="d-inline-block btn btn-warning" style="width:23%; font-size:15px; background-color:#ffcb1a">'+value.c1+'</br>'+value.c1high+'</div>';
          json_data += '<div class="d-inline-block btn btn-primary" style="width:23%; font-size:15px; background-color:#1a78ff">'+'저'+'</br>'+value.dayc1low+'</div>';
          json_data += '<div class="d-inline-block btn btn-dark" style="width:23%; font-size:15px; background-color:#282d31">'+'세력지수'+'</br>'+value.power+'</div>';
        });
        $('#chart').html(json_data);
      }
    });
  }
  $(document).ready(function(){
    $('input[name=buttons]').change(function() {
      clearInterval(ctest);
    });
  });
</script>