<script src="http://13.125.147.26/script/javascript/gift_highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="http://13.125.147.26/script/indicators/Hgiftegg11.js"></script>
<script src="http://13.125.147.26/script/indicators/Lgiftegg11.js"></script>
<script src="http://13.125.147.26/script/indicators/Hgiftegg30.js"></script>
<script src="http://13.125.147.26/script/indicators/Lgiftegg30.js"></script>
<script src="http://13.125.147.26/script/charts/gift_chart.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="btn-group" role="group" style="width:100%; margin: 0;">
      <div class="btn-group btn-group-toggle" data-toggle="radio" style="width:100%;">
        <label class="btn btn-secondary" style="width:100%;" onclick="window.location='/home/gold_daycharts?name=<%=@urlparam%>';">
          <input type="radio" name="buttons" style="pointer-events:none"/> 일
        </label>
        <label class="btn btn-secondary" style="width:100%;" onclick="window.location='/home/gold_weekcharts?name=<%=@urlparam%>';">
          <input type="radio" name="buttons" style="pointer-events:none"/> 주
        </label>
        <label class="btn btn-secondary" style="width:100%;" onclick="window.location='/home/gold_monthcharts?name=<%=@urlparam%>';">
          <input type="radio" name="buttons" style="pointer-events:none"/> 월
        </label>
        <label class="btn btn-secondary" style="width:100%;" onclick="window.location='/home/c1charts?name=<%=@urlparam%>';">
          <input type="radio" name="buttons" style="pointer-events:none"/> C1고저차트
        </label>
        <label class="btn btn-secondary" style="width:100%;" onclick="window.location='/home/giftcharts?name=<%=@urlparam%>';">
          <input type="radio" name="buttons" style="pointer-events:none"/> 선물차트
        </label>
      </div>
    </div>
    
    <!-- Area Chart Example-->
    <div class="card mb-10">
      <div class="card-header">
        <label>선물차트</label>
      </div>
      <div class="card-body">
        <div class="table" id="chart">
          <button type="button" class="btn btn-danger" style="width:23%; font-size:15px;"disabled>고</br>&nbsp</button>
          <button type="button" class="btn btn-warning" style="width:23%; font-size:15px;" disabled>C1</br>&nbsp</button>
          <button type="button" class="btn btn-primary" style="width:23%; font-size:15px;" disabled>저</br>&nbsp</button>
          <button type="button" class="btn btn-dark" style="width:23%; font-size:15px;" disabled>세력지수</br>&nbsp</button>
          </br></br>
        </div>
      </div>
    </div>
    <div id="container" style="width:100%; height: 85%; min-width: 100%; margin:0;"/>
  </div>
</div>

<script>
  var height = $(window).height()*0.888;
  var ctest;

  $(document).ready(function() {
  ctest = setInterval(ajaxtable, 5000);
  });
  function ajaxtable(){
    $.ajax({
      url: "http://13.125.147.26/phps/c1c2",
      type: "GET",
      dataType: "json",
      async: false,
      success: function(data) {
        var json_data = '';
        $.each(data, function(key, value){
          json_data += '<button type="button" class="btn btn-danger" style="width:25%; font-size:15px;"disabled>'+'고'+'</br>'+value.dayc1high+'</button>';
          json_data += '<button type="button" class="btn btn-warning" style="width:25%; font-size:15px;" disabled>'+value.c1+'</br>'+value.c1high+'</button>';
          json_data += '<button type="button" class="btn btn-primary" style="width:25%; font-size:15px;" disabled>'+'저'+'</br>'+value.dayc1low+'</button>';
          json_data += '<button type="button" class="btn btn-dark" style="width:25%; font-size:15px;" disabled>'+'세력지수'+'</br>'+value.power+'</button>';
        });
        $('#chart').html(json_data);
      }
    });
  }
  $(document).ready(function(){
    $('input[name=buttons]').change(function() {
      clearInterval(ctest);
    });
  });
</script>