<!DOCTYPE html>
<html>
  <head>
    <title>BaobabSolution</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <style>
    	a {
    		color: #333;
    	}
    	.navbar-brand {
    		margin: 0 auto;
    	}
    	.bg-gold {
    		background-color: #ffc000;
    	}
    	.navbar-gold {
    		background-color: #ffc000;
    	}
    	.navbar-gold .navbar-toggler {
    		color: rgba(51,51,51,.5);
    		border-color: rgba(51,51,51,.1);
    	}
    	.navbar-toggler-icon {
    		display: inline-block;
    		width: 1.5em;
    		height: 1.5em;
    		vertical-align: middle;
    		content: "";
    		background: no-repeat center center;
    		background-size: 50% 50%;
    	}
    	.navbar-gold .navbar-toggler-icon {
    		background-image: url(http://61.72.187.6/images/webApp/menu.png);
    	}
    </style>
  </head>
  
  <body class="fixed-nav bg-gold" id="page-top">
    <%= render 'shared/nav' %>
    <%= yield %>
  </body>
</html>
